.reviews-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
}

.filters{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.7rem;
  margin-bottom: 3px;
  color: #173753;

}

.form-group input {
  max-width: 200px;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: #173753;
  border: 2px solid #0276db;
  outline: none;

}
